<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Packs</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainStyle.css') }}">
</head>
<body>
   <h1>Welcome to Open Packs!</h1>
   <img src="{{url_for('static', filename=filenames[0])}}" align="middle" width="400" height="500"/>
   <img src="{{url_for('static', filename=filenames[1])}}" align="middle" width="400" height="500"/>
   <img src="{{url_for('static', filename=filenames[2])}}" align="middle" width="400" height="500"/>
   <img src="{{url_for('static', filename=filenames[3])}}" align="middle" width="400" height="500"/>
   <img src="{{url_for('static', filename=filenames[4])}}" align="middle" width="400" height="500"/>
   <img src="{{url_for('static', filename=filenames[5])}}" align="middle" width="400" height="500"/>
   <img src="{{url_for('static', filename=filenames[6])}}" align="middle" width="400" height="500"/>
   <img src="{{url_for('static', filename=filenames[7])}}" align="middle" width="400" height="500"/>
</body>
</html>